#!/bin/bash
# manter sem os espaço entre o igual e o valor
SOF_API_TOKEN='934e804f-07b7-3e3e-b0d7-de6087770eb9' #free token ;)
#sem o método, apenas o host
SOF_API_HOST='gateway.apilib.prefeitura.sp.gov.br/sf/sof/'
SOF_API_VERSION='v4'


ORIGINAL_DATA_DIR='original_data'
GENERATED_DATA_DIR='generated_data'
SHEET_NAME='Monitoramento de obras'
SKIP_ROWS=3

COL_PROCESSO='^n. processo'
COL_EMPENHO='empenho liquid'
COL_LIQUIDACAO='liquidacao'
COL_PROXY='proxy'